/*



*/

@font-face {
font-family: "Gobold";
src: url('assets/fonts/Gobold Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Gobold';
src: url('assets/fonts/Gobold Thin.ttf') format('truetype');
font-weight: 100;
font-style: normal;
 }


body{
	font-family: Gobold;
	font-weight: 100;
}
